@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.force-min-height {
  height: 95vh;
}
.force-height-card {
  height: 70vh;
}
@media (max-width: 1024px) {
  .forcer-cel-width {
    width: auto;
  }
  .force-height {
    height: auto;
  }
  .list-values {
    -moz-column-count: 3;
    -moz-column-gap: 1.5em;
    -webkit-column-count: 3;
    -webkit-column-gap: 1.5em;
  }
}
@media (min-width: 1024px) {
  .forcer-cel-width {
    width: 40vw;
  }
  .force-height {
    height: 60vh;
  }
  .list-values {
    -moz-column-count: 5;
    -moz-column-gap: 1.5em;
    -webkit-column-count: 5;
    -webkit-column-gap: 1.5em;
  }
}

a {
  text-decoration: underline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
